use_flake() {
  watch_file flake.nix
  watch_file flake.lock
  eval "$(nix --system x86_64-darwin print-dev-env --profile "$(direnv_layout_dir)/flake-profile")"
}

[[ -f .envrc.local ]] && source_env .envrc.local

use flake
